{% extends 'base.html.twig' %}

{% block title %}Hello TechnologyController!{% endblock %}

{% block body %}

<div>
    <h1>Technologies</h1>
    <ul>
        {% for technology in technologies %}
            <li><a href="{{ path('technology_edit', {'slug': technology.slug}) }}">{{ technology.name }}</a></li>
            <li><a href="{{ path('technology_delete', {'id': technology.id}) }}">Supprimer</a></li>
        {% endfor %}    
    </ul>
</div>
{% endblock %}
